services:
  api:
    build: ./fastapi_app
    container_name: mnist_api
    environment:
      DATA_DIR: /app/data
      MODEL_DIR: /app/models
      MODEL_PATH: /app/models/latest.keras

      #  bootstrap/train de départ si pas de modèle local
      TRAIN_EPOCHS: "10"
      TRAIN_BATCH_SIZE: "128"
      TRAIN_VAL_SPLIT: "0.1"

      DATABASE_URL: sqlite:////app/data/predictions.db

      # MLflow
      BOOTSTRAP_FROM_MLFLOW: "true"
      MLFLOW_TRACKING_URI: "http://mlflow:5000"
      MLFLOW_EXPERIMENT: "mnist-hitl"
      MLFLOW_METRIC: "val_accuracy"
      MLFLOW_MODEL_ARTIFACT_PATH: "model/latest.keras"

    depends_on:
      - mlflow
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/health').read()"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - shared_models:/app/models
      - shared_data:/app/data
    ports:
      - "8000:8000"
    networks: [app_network]

  streamlit:
    build: ./streamlit_app
    container_name: mnist_streamlit
    environment:
      API_URL: http://api:8000
    depends_on: [api]
    ports:
      - "8501:8501"
    networks: [app_network]

  prefect-server:
    image: prefecthq/prefect:2-latest
    container_name: prefect-server
    command: ["prefect", "server", "start", "--host", "0.0.0.0", "--port", "4200"]
    ports:
      - "4200:4200"
    environment:
      - PREFECT_HOME=/prefect
    volumes:
      - prefect_data:/prefect
    healthcheck:
      test: ["CMD-SHELL", "python -c \"import urllib.request; urllib.request.urlopen('http://localhost:4200/api/health').read(); print('ok')\""]
      interval: 10s
      timeout: 5s
      retries: 15
      start_period: 20s
    restart: unless-stopped
    networks: [app_network]

  prefect:
    build:
      context: .
      dockerfile: prefect_flow/Dockerfile
    container_name: mnist_prefect
    environment:
      PREFECT_API_URL: http://prefect-server:4200/api

      # API (reload + mark)
      API_URL: http://api:8000
      MODEL_DIR: /app/models
      MODEL_PATH: /app/models/latest.keras
      DATABASE_URL: sqlite:////app/data/predictions.db

      # MLflow
      MLFLOW_TRACKING_URI: http://mlflow:5000
      MLFLOW_EXPERIMENT: mnist-hitl

      FAIL_THRESHOLD: "1"
      MIN_NEW_LABELS: "1"
      SCHEDULE_INTERVAL_SECONDS: "300"

    volumes:
      - shared_models:/app/models
      - shared_data:/app/data
    depends_on:
      - prefect-server
      - api
      - mlflow
    networks: [app_network]
    restart: unless-stopped

  mlflow:
    image: python:3.11-slim
    container_name: mnist_mlflow
    working_dir: /mlflow
    command: >
      bash -lc "pip install --no-cache-dir mlflow==2.15.1 &&
      mlflow server --host 0.0.0.0 --port 5000
      --backend-store-uri sqlite:////mlflow/mlflow.db
      --default-artifact-root /mlflow/artifacts"
    ports:
      - "5000:5000"
    volumes:
      - mlflow_data:/mlflow
    networks: [app_network]

  prometheus:
    image: prom/prometheus:v2.55.1
    container_name: mnist_prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks: [app_network]

  node_exporter:
    image: prom/node-exporter:v1.8.2
    container_name: mnist_node_exporter
    ports:
      - "9100:9100"
    networks: [app_network]

  grafana:
    image: grafana/grafana:11.1.0
    container_name: mnist_grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on: [prometheus]
    networks: [app_network]

networks:
  app_network:

volumes:
  shared_models:
  shared_data:
  mlflow_data:
  grafana_data:
  prefect_data:
